@tailwind utilities;

/* 
* Override default system variables. See `packages/ui/src/globals.css`.
*/
:root {
	--app-w: 1376px !important;
	--app-px: 2rem !important;
}

@layer utilities {
	.dark,
	[data-theme="dark"],
	:root[class~="dark"] {
		--background: 270 6% 7%;
		--foreground: 0 0% 100%;

		--primary: 270 4% 10%;
		--primary-foreground: 0 0% 93%;

		--secondary: 81 80% 66%;
		--secondary-foreground: 270 6% 7%;

		--muted: 270 4% 10%;
		--muted-foreground: 0 0% 63%;

		--border: 0 0% 13%;
	}
}

/* Temporary fix: https://github.com/emilkowalski/vaul/issues/492 */
body {
	pointer-events: all !important;
}
